# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# Distribution / packaging
.Python
env/
myenv/
my_env/
venv/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

/venv
/clean_data.csv

# Mypy cache
.mypy_cache/
*.joblib


# Ignorer les fichiers de données traitées 
data/processed_data/ 
data/processed_data_scaled/ 
src/models_output/ 
src/params_output/ 
src/predicts_output/
